* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

}

/* General styles -end*/

/*Navigation -style*/

nav#main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    padding-right: 20px;

    /*Navigation -start*/
}

#main-nav > ul {
    margin: 0;
    float: right;
}

nav#main-nav > ul > li {
    display: inline-block;
    padding: 20px;

}

nav#main-nav > ul > li > a {

    margin: 0;
    text-decoration: none;
    color: white;
}

nav#main-nav > ul > li > a:hover {
    color: #1ca056;
}

/*Navigation -end*/

/* Header -start*/

#main-header {
    background-image: url("../img/img/header-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#main-header .main-header-content {
    text-align: center;
    padding: 30vh;
}

#main-header .main-header-content h1 {
    font-weight: 300;
    font-size: 4em;
    font-family: "Roboto", sans-serif;
}

#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 300;
}

#main-header .main-header-content h1 span {
    color: #1ac056;
}

/*Header -end*/

/*section -start*/

#about {
    background-color: #f9fcfe;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 0 80px 100px;
}

#about > figure {
    width: 50%;
    margin: 0;
    float: left;
    position: center;
}

#about > figure > img {
    max-width: 350px;


}

#about > article {
    width:
}

#about > p {
    font-family: "lato", sans-serif;

}

#about > h2 > span {
    color: #1ac056;

}

#skills {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#skills > h2 > span {
    color: #1ac056;
}

#skills-icons > figure {
    display: inline-block;

}

/*Moje Portfolio-start*/

 #portfolio {
    margin:70px 60px;
     width:100%;
     
}
.portfolio-items {

    
    font-size: 0;
    align-items:center;
    justify-content:center;

}

#portfolio-item-1 {
    background-image: url("../img/img/portfolio1.jpg");
    position: absolute;
    height: 350px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: relative;


}

#portfolio-item-2 {
    background-image: url("../img/img/portfolio2.jpg");
    position: absolute;
    height: 350px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: relative;




}

#portfolio-item-3 {
    background-image: url("../img/img/portfolio3.jpg");
    position: absolute;
    height: 350px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: relative;

}

.portfolio-items {
    text-align: center;
}

#portfolio > h2 {
    text-align:center;
    font-family: "Roboto", sans-serif;
}

#portfolio > h2 > span {
    color: #1ac056;
}

.item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    font-size: initial;
    transition: all 1s ease-in-out;

}

.item-mask:hover {
    opacity: 1;


}

.item-mask > p {
    color: white;
    position: absolute;
    text-align: center;
    padding: 15px;
    line-height: 30px;

}

.item-mask > p > span {
    font-size: 30px;
    font-weight: bold;

}

/*footer*/

#container {
    background-color: #142634;
    width: 100%;
    height: 50vh;
    position:relative;
    

}

form {
    color: white;
    float: right;
    line-height:20px;

}

form textarea, input[type="text"], input[type="mail"] {
    margin: 10px;
    background-color:#142634; 
    width:500px; 
    align-items:flex-end;
    justify-content:center;
    
    
}

form textarea:focus, 
input[type="text"]:focus, 
input[type="mail"]:focus {
    background-color:#4e708c;
    border:1px solid #fff;
    color:white;
    font-family:"lato",sans-serif;
    
}
#container > h2 {
    color:white;
    
    position:absolute;
    font-size:30px ;
    top:50px;
    left:50px;
        
}

#container>h2>span{
    color:#1ac056;
}
